<h1>Page2</h1>
<p>this page has had {{hits}}hits</p>
<p>this is the second page</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic sequi ratione excepturi placeat libero! Officiis labore
  sapiente, vitae sint, vero qui mollitia non neque excepturi veniam aliquam pariatur nemo quisquam?</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus nobis eum possimus consequuntur beatae dolorem
  fugiat nam perspiciatis laboriosam laborum, repellendus eaque magnam corporis officia ea veritatis nostrum cum qui?
</p>
