<h1>{{pageName}}</h1>
<p>this is the first page</p>

<button (click)="onButtonClick()" >Greet</button>

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic sequi ratione excepturi placeat libero! Officiis labore
  sapiente, vitae sint, vero qui mollitia non neque excepturi veniam aliquam pariatur nemo quisquam?</p>

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus nobis eum possimus consequuntur beatae dolorem
  fugiat nam perspiciatis laboriosam laborum, repellendus eaque magnam corporis officia ea veritatis nostrum cum qui?
</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, eos repellendus est deleniti illo doloremque nihil
  in unde blanditiis sed aspernatur numquam, molestiae culpa dolorem dolores voluptatum hic quibusdam pariatur?</p>
